body {
  font-family: "Inter", sans-serif;
  background-color: #f7f9fc;
}
.card {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.btn-primary {
  transition: all 0.15s;
}
.btn-primary:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transform: translateY(-1px);
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
th,
td {
  border: 1px solid #e5e7eb;
  padding: 0.5rem 1rem;
  text-align: left;
}
th:first-child {
  border-top-left-radius: 0.75rem;
}
th:last-child {
  border-top-right-radius: 0.75rem;
}